<!-- <p>pbb works!</p> -->

<div class="container-pbb">
    <div class="card">
        <div class="card-content">
            <div class="header">
                <h1 class="h1">PBB KALKULATOR</h1>
                <label for="">Perhitungan pajak bumi dan bangunan</label>
            </div>

            <div class="form-group">
                <label for="luasTanah"><b>Luas Tanah</b></label>
                <input class="form-control mb-3" (ngModelChange)="hitungPBB()" type="number" placeholder="Masukkan Luas Tanah" [(ngModel)]="luasTanah">
            </div>

            <div class="form-group">
                <label for="luasBangunan"><b>Luas Bangunan</b></label>
            <input class="form-control mb-3" (ngModelChange)="hitungPBB()" type="number" placeholder="Masukkan Luas Bangunan" [(ngModel)]="luasBangunan">
            </div>

            <div class="form-group">
                <label for="njopTanah"><b>NJOP Tanah</b></label>
            <input class="form-control mb-3" (ngModelChange)="hitungPBB()" type="number" placeholder="Masukkan NJOP Tanah" [(ngModel)]="njopTanah">
            </div>

            <div class="form-group">
                <label for="njopBangunan"><b>NJOP Bangunan</b></label>
            <input class="form-control mb-3" (ngModelChange)="hitungPBB()" type="number" placeholder="Masukkan NJOP Bangunan" [(ngModel)]="njopBangunan">
            </div>          

            <button class="btn btn-success" (click)="hitungPBB()" type="submit">Hitung</button>

            <p class="">{{ result }}</p>         

        </div>
    </div>
</div>