.show-container {
    display: block;
    padding: 20px;
    background-color: thistle;
}

.judul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image-service {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}

img.show {
    width: 200px;
    height: 300px;
    margin: 10px;
}
/* 
div.image-service{
    width: 50%;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
    margin-bottom:20px;
}

img{
    width: 300px;
    height: 300px;
} */