.menu-container{
    padding: 20px 0;
    display: flex;
    justify-content: center;
    background-color: #40526F;
}

.menu{
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-left, .menu-right{
    height: 30px;
    align-items: center;
    display: flex;
    color: white;
}

.menu-right{
    justify-content: space-around;
}

.button-top{
    margin: 0px 5px;
}

/* a{
    text-decoration: none;
    color: white;
    margin: 10px;
} */