<!-- {{title}}
<ngb-alert [type]="'success'">Hello</ngb-alert> -->

<!-- <app-server></app-server>
<app-user></app-user> -->
<!-- <app-header></app-header>
<app-banner></app-banner>
<app-galery></app-galery>
<app-show></app-show> -->

<!-- <app-pbb></app-pbb> -->
<!-- <app-todo></app-todo> -->
<app-menu></app-menu>

<!-- <div class="container">
    <button (click)="getProducts()">Get Products</button>
</div> -->
<!-- <div class="container">
    <div class="row">
        <div class="col-md-3 mt-4"  *ngFor="let post of posts">
            <div class="card" style="width: 18rem;">
                <img [src]="post.url" class="card-img-top" alt="{{ post.url }}">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.body }}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div> -->
