/* .lorem {
    background-color: #263A55;
    border: 1px #263A55;
} */

.ipsum {
    background-color: #40526F;
    border: 1px #40526F;
}

.content-container {
    display: flex;
    flex-direction: column;
    padding: 20%;
    align-items: center;
    height: 700px;
    justify-content: space-evenly;
    background-image: url(https://st2.depositphotos.com/1268660/11540/i/450/depositphotos_115405634-stock-photo-defocused-sunset-sky-natural-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    text-align: justify;
    margin: 10px;
}

.main-content {
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 10px;
}

h1 {
    margin: 10px;
}

.bottom-content {
    margin: 10px;
    display: flex;
}

/* button {
    display: flex;
    margin: 10px;
    width: 80px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

button:hover {
    opacity: 0.8;
} */