<!-- <p>banner works!</p> -->

<div class="content-container">
    <div class="main-content">
        <h1>Lorem Ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi illo culpa minima facilis aspernatur? 
            Doloremque quod repudiandae fuga fugit aliquam eum veniam adipisci, tenetur, aspernatur dolorum quae similique, officiis molestiae. 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt excepturi voluptas cupiditate! Nulla enim quod, 
            cupiditate consectetur, velit at maiores repellendus quasi eveniet molestiae repellat sapiente, aliquid soluta totam et?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus cum dolore sapiente vero aperiam, at provident facilis magnam 
            numquam accusantium repudiandae illo debitis, incidunt in, aliquid similique dignissimos nobis labore?
        </p>
    </div>
    <div class="bottom-content">
        <button class="lorem">Lorem</button>
        <button class="ipsum">Ipsum</button>
    </div>
</div>