<!-- <p>galery works!</p> -->
<div class="container">
    <div class="box-left">
        <h1>Hello World</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae debitis harum adipisci nulla doloribus impedit sit, quia earum obcaecati reiciendis! Atque obcaecati maxime labore itaque iure laborum maiores voluptate recusandae? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi sit quae, earum at obcaecati ea aperiam ipsam. Explicabo molestias tenetur asperiores in autem provident tempore deserunt ipsa? Obcaecati, a harum!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, reprehenderit repudiandae voluptatibus numquam, magni magnam excepturi quas autem facere suscipit officiis. Odit distinctio qui sunt, ullam quisquam non alias error! Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium esse recusandae cum quia ex labore. Eveniet ducimus laudantium aliquid ratione, omnis adipisci nisi commodi vero, architecto laboriosam odio tempora maiores!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus praesentium asperiores, cumque architecto provident illo. In id doloremque officiis dicta excepturi. Sapiente quaerat placeat amet voluptatum numquam id, perspiciatis in? Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat odit in ipsum labore voluptas exercitationem nam nostrum obcaecati hic, perferendis explicabo, culpa excepturi sint! Labore cum quos tenetur assumenda minus.</p>
        <button class="lorem">BUTTON</button>
    </div>

    <div class="box-right">
        <div class="item1">
            <img src="https://picsum.photos/seed/picsum/200/300" alt="">
        </div>
        <div class="item2">
            <img src="https://picsum.photos/seed/picsum/200/300" alt="">
        </div>
        <div class="item3">
            <img src="https://picsum.photos/seed/picsum/200/300" alt="">
        </div>
        <div class="item4">
            <img src="https://picsum.photos/seed/picsum/200/300" alt="">
        </div>
    </div>
</div>